#password{
    width: 350px;
    height: 45px;
    font-size: 90%;
    border-radius: 15px;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}

#username{
    width: 350px;
    height: 45px;
    font-size: 90%;
    border-radius: 15px;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}
