#login_user
{
    width: 500px;
    height: 10%;
    font-size: 90%;
    border-radius: 20px;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}

#getToken{
    width: 700px;
    height: 20%;
    font-size: 90%;
    border-radius: 20px;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}

#password{
    width: 350px;
    height: 45px;
    font-size: 90%;
    border-radius: 15px;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}

#username{
    width: 350px;
    height: 45px;
    font-size: 90%;
    border-radius: 15px;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}
#alert {
    width: 350px;
}
